body {
    background-color: #E3DFFD;
    font-family: 'Montserrat', sans-serif;
}

/* Navbar */

.navbar {
    background-color: #ECF2FF;
    padding: 2% 15%
}

.navbar-brand {
    font-size: 2rem;
    font-weight: 400;
    color: #D61355;
    line-height: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
}

.nav-item {
    font-size: 1.2rem;
    font-weight: 400;
    color: #D61355;
    line-height: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
    margin: 0 0.5rem;
}

.nav-link {
    color: #D61355;
    transition: all .2s ease-in-out;
}

.navbar-brand:hover, .nav-link:hover {
    color: #FFF4D2;
}


/* Main */

#main {
    padding: 7% 15%;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main-header {
    font-size: 5rem;
    font-weight: 400;
    color: #D61355;
    margin-bottom: 1rem;
    line-height: 5rem;
    font-family: 'Ubuntu', sans-serif;
}

.main-content button {
    background-color: #E5D1FA;
    border: none;
    border-radius: 5px;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: #D61355;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 20px;
}

.main-content button:hover {
    background-color: #D61355;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* How it works */

#work {
    padding: 7% 15%;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#work ul {
    list-style-type: none;
    padding: 0;
}

/* Features */

#features {
    padding: 7% 15%;
    position: relative;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.feature-title {
    font-size: 1.5rem;
}

.feature-box {
    padding: 4.5%;
}

.icon {
    color: #D61355;
    align-items: center;
    margin-bottom: 1rem;
    transition: all .2s ease-in-out;
}

.icon:hover {
    transform: scale(1.1);
    color: #C04A82;
}

/* Pricing */


#pricing {
    padding: 7% 15%;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#pricing .pricing-header {
    font-size: 3rem;
    font-weight: 400;
    color: #D61355;
    margin-bottom: 1rem;
    line-height: 5rem;
    font-family: 'Ubuntu', sans-serif;
}

.card {
    background-color: #E5D1FA;
    border-radius: 20px;
    border: none;
    transition: all .2s ease-in-out;
    margin: 2rem 2rem;
}

.card:hover {
    transform: scale(1.2);
}

.card button {
    background-color: #E5D1FA;
    border: none;
    border-radius: 100px;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: #C04A82;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.card:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);

}

.card button:hover {
    background-color: #D61355;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-column {
    padding: 3% 2%;
}

/* FAQ */

#faq {
    padding: 7% 15%;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#faq .faq-item {
    padding: 5px;
    font-size: 1.5rem;
    line-height: 1.5rem;
}


/* Footer */

footer {
    padding: 7% 15%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #E5D1FA;
}


footer ul{
    list-style-type: none;
    padding: 0;
}

footer a {
    color: #D61355;
}
